USE [dbEstoque]
GO
/****** Objeto:  Table [dbo].[Categoria]    Data do Script: 30/09/2026 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Materiais]    Data do Script: 30/09/2026 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Quantidade] [decimal](18, 0) NULL,
	[Valor_Unitario] [decimal](18, 0) NULL,
	[IdCategoria] [int] NULL,
	[Unidade_Medida] [varchar](50) NULL,
	[Tipo] [varchar](50) NULL,
 CONSTRAINT [PK_Materiais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Movimentacao]    Data do Script: 30/09/2026 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[DataLancamento] [datetime] NOT NULL,
	[Valor_Unitario] [decimal](18, 0) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Movimentacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nome]) VALUES (1, N'Limpeza')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Materiais] ON 

INSERT [dbo].[Materiais] ([Id], [Nome], [Quantidade], [Valor_Unitario], [IdCategoria], [Unidade_Medida], [Tipo]) VALUES (1, N'Detergente', CAST(1 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), 1, N'UN', NULL)
SET IDENTITY_INSERT [dbo].[Materiais] OFF
GO
ALTER TABLE [dbo].[Materiais]  WITH CHECK ADD  CONSTRAINT [FK_Materiais_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Materiais] CHECK CONSTRAINT [FK_Materiais_Categoria]
GO
ALTER TABLE [dbo].[Movimentacao]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacao_Materiais] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Materiais] ([Id])
GO
ALTER TABLE [dbo].[Movimentacao] CHECK CONSTRAINT [FK_Movimentacao_Materiais]
GO
